* {

    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

}




body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;

}

.heading {
    font-weight: 500;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 30px 100px rgba(11, 24, 206, 0.1);
}

input {
    width: 80%;
    padding: 25px;
    margin: 10px 0;
    text-align: center;
    font-size: 14px;

}



button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}



button:hover {
    box-shadow: 0 0 3px rgb(14, 222, 104), 0 0 3px rgb(14, 222, 104), 0 0 3px rgb(14, 222, 104), 0 0 3px rgb(14, 222, 104), 0 0 3px rgb(14, 222, 104)
}

.course-block {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    background: #fafafa;
    border-radius: 5px;
}

.heading-text {
    font-size: 18px;
    font-weight: bold;

}

label {
    font-weight: 500;
    font-size: 19px;
}



.course {

    font-size: 24px;
}



footer {
    display: flex;
    justify-content: center;
    align-items: start;


}